back-end/node_modules
front-end/node_modules

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.terraform/
terraform.log
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Editor-specific
.vscode/
.idea/